@model Centric_Consulting_MIS_4200_Project.Models.Profile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Profile</h4>
   
        <ul class="dl-horizontal">
            <dt>
                <h4> @Html.DisplayNameFor(model => model.firstName) </h4>
            </dt>

            <dd>
                <h4> @Html.DisplayFor(model => model.firstName)</h4>
            </dd>

            <dt>
                <h4>  @Html.DisplayNameFor(model => model.lastName) </h4>
            </dt>

            <dd>
                <h4>  @Html.DisplayFor(model => model.lastName) </h4>
            </dd>

            <dt>
                <h4>  @Html.DisplayNameFor(model => model.email)  </h4>
            </dt>

            <dd>
                <h4> @Html.DisplayFor(model => model.email) </h4>
            </dd>

            <dt>
                <h4>@Html.DisplayNameFor(model => model.phoneNumber) </h4>
            </dt>

            <dd>
                <h4> @Html.DisplayFor(model => model.phoneNumber)</h4>
            </dd>

            <dt>
                <h4> @Html.DisplayNameFor(model => model.department) </h4>
            </dt>

            <dd>
                <h4>@Html.DisplayFor(model => model.department) </h4>
            </dd>

            <dt>
                <h4>@Html.DisplayNameFor(model => model.primaryOfficeLocation) </h4>
            </dt>

            <dd>
                <h4>@Html.DisplayFor(model => model.primaryOfficeLocation)</h4>
            </dd>

            <dt>
                <h4>@Html.DisplayNameFor(model => model.jobTitle) </h4>
            </dt>

            <dd>
                <h4>@Html.DisplayFor(model => model.jobTitle)</h4>
            </dd>
            <p>
                @Html.ActionLink("Edit Profile Page", "Edit", new { id = Model.PID }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </ul>
    


    @{
        var total = ViewBag.total;
        var excellence = ViewBag.Excellence;
        var Integrity = ViewBag.Integrity;
        var Stewardship = ViewBag.Stewardship;
        var Balance = ViewBag.Balance;
        var Innovation = ViewBag.Innovation;
        var Lifestyle = ViewBag.Lifestyle;
        <h4><ul> Total recognitions received = @total   </ul></h4>
        <h4><ul> Excellence awards = @excellence </ul></h4>
        <ul><h4>Integrity awards = @Integrity</h4>
        <h4>Stewardship awards = @Stewardship</h4>
        <h4>Balance awards = @Balance</h4>
        <h4>Innovation awards = @Innovation</h4>
        <h4>Lifestyle awards = @Lifestyle</h4> 
        </ul>
    }


</div>

