@model Centric_Consulting_MIS_4200_Project.Models.Profile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Profile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.primaryOfficeLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.primaryOfficeLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobTitle)
        </dd>

    </dl>
    @{
        var total = ViewBag.total;
        var excellence = ViewBag.Excellence;
        var Integrity = ViewBag.Integrity;
        var Stewardship = ViewBag.Stewardship;
        var Balance = ViewBag.Balance;
        var Innovation = ViewBag.Innovation;
        var Lifestyle = ViewBag.Lifestyle;
        <h2>Total recognitions received = @total</h2>
        <h3>Excellence awards = @excellence</h3>
        <h3>Integrity awards = @Integrity</h3>
        <h3>Stewardship awards = @Stewardship</h3>
        <h3>Balance awards = @Balance</h3>
        <h3>Innovation awards = @Innovation</h3>
        <h3>Lifestyle awards = @Lifestyle</h3>
    }


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
