@model IEnumerable<Centric_Consulting_MIS_4200_Project.Models.NominationPage>

@{
    ViewBag.Title = "Index";
}

    <h2 style="color:rebeccapurple">Employee Nominations</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.award)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognizor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognized)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognizationDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.award)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nominator.fullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nominatee.fullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recognizationDate)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PID })
        </td>*@
    </tr>
}

</table>
